body {
  font-family: Arial;
  background: #f5f5f5;
  text-align: center;
  padding: 30px;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 250px;
}

button {
  background: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
}
